<section id="blog">
  <div id="blog-container">
    <div id= "the-prelude" class="row1"></div>
    <div class="line"></div>
    <div id= "week-3" class="row2">
      <% @sorted_posts.each do |post_name, date| %>
        <%= erb("/posts/#{post_name}".to_sym, layout: false) %>
      <% end %>
    </div>
    <div class="line"></div>
  </div>
</section>

