<section id="blog">
  <div id="blog-container">
    <div id= "the-prelude" class="row1"></div>
      <div class="line"></div>
    <!-- <div id= "week-1" class="row1"></div> -->
    <!-- <div id= "week-2" class="row1"></div><br> -->
    <div id= "week-3" class="row2"></div>
      <div class="line"></div>
   <!--  <div id= "week-4" class="row2"></div> -->
    <!-- <div id= "week-5" class="row2"></div> -->
  </div>
</section>