<section id="blog">
    <% @sorted_posts.each do |post_name, date| %>
      <div class="blog-post">
        <%= erb("/posts/#{post_name}".to_sym, layout: false) %>
      </div>
      <div class="line"></div>
    <% end %>
</section>

