<div id="contact">
  <div id="form-container">
    <form>
      <label for="name" > Name: <input id="name"
        type="text" name="name"></label>
      <label for="subject">Subject: <input id="subject" type="text" name="subject"></label>
      <label for="email">Email: <input id="email" type="text" name="email"></label>
      <label for="message">Message: <textarea id="message" type="text" name="message"></textarea></label>
      <input type="submit" value="Submit">
    </form>
  </div>
</section>