  <section id="body">
    <div id="coder">
      <img id="background" src="http://4b93n32qwvjj3ddn5w3yhffoas6.wpengine.netdna-cdn.com/wp-content/uploads/2013/08/christinalovescode.jpg" atl="Christina Loves Code">
    </div>
  </section>
  </div> 