  <section id="page1"><br>
    <div class="text">
      <h1 id="first">Free Your Mind And The Rest Will Follow</h1>
      <img src="http://data3.whicdn.com/images/59913109/large.gif" alt="infinity symbol">
      <p>Art/Culture/Love/Authenticity</p>
    </div>
    <div id="box_links">
      <div id="box1"><span class="boxes"><a href="#page2">Create</a></span></div>
      <div id="box2"><span class="boxes"><a href="www.christinasthompson">Share</a></span></div>
      <div id="box3"><span class="boxes"><a href="www.christinasthompson">Repeat</a></span></div>
    </div>
  </section>
  <section id="page2">
    <div id="the-process">
      <h2>The Process</h2>
      <img id="creative_process"src="http://isculpture.files.wordpress.com/2011/09/img2142.jpg">
      <script>
      $('a#page2').click(function() {
      $('html,body').animate({'scrollTop' : 0},1000);
      });
      </script>
    </div>
  </section>
