<!DOCTYPE html>
<html>
<head>
  <title>Christina Starr Thompson</title>
  <meta charset="utf-8">
  <meta name="description" content="The Urban Culture Enthusiast.">
  <meta name="keywords" content="urban culture, music, art, culture, branding, marketing"
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="ChristinaStarr.jpg"/>
  <meta property="og:description" content="The Culture Enthusiast."/>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="icon" href="/blackstar.png" type="image/x-icon">
</head>
<div id="main-container"> 
<header>
<body>
  <div id="main-container">
    <header>
      <img src="http://www.christinasthompson.com/starrlogo1.png" alt="starrlogo" class="center"/>
      <nav class="navbar">
        <ul>
          <li><a href="index.html"> HOME</a></li>
          <li><a href="about.html"> ABOUT</a></li>
          <li><a href="resume.html"> RESUME</a></li>
          <li><a href="blog" target="_blank"> BLOG</a></li>
          <li><a href="contact.html"> CONTACT</a></li>
        </ul>
        </nav>
    </header>
  <% @posts.each  do |post| %>
      <a href="/blog/<%= post %>"><%= post %></a>
  <% end %>

  <%= yield %> <!-- This is where my content will go -->  
    <div class="wrapper">
    <footer id="the-end">ALL RIGHTS, WELL MOST RIGHTS...A FEW RIGHTS RESERVED
      <img src="http://christinasthompson.com/blackstar.png">
      SITE CRAFTED BY CHRISTINA STARR THOMPSON
    </footer>
    </div>
  </div>
</body>
</html>