<!DOCTYPE html>
<html>
<head>
  <title>&#60;She Codes &#8260; &#62;</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300">
  <script src="script.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="main-container">
  <header>
    <div id="social-links">
      <img id="twitter" src="http://www.sendchristinatohackerschool.com/twitter-icon.png"><br>
      <img id="facebook" src="http://www.sendchristinatohackerschool.com/facebook-icon.png"><br>
      <img id="instagram" src="http://www.sendchristinatohackerschool.com/instagram-icon.png">
    </div>
    <h1 id="logo">&#60;She Codes&#8260;&#62;</h1>
    <nav id="nav-bar">
      <ul>
        <li id="home" class="nav"><a href="/">Home</a></li>
        <li id="about" class="nav"><a href="/about">About</a></li>
        <li id="blog" class="nav">
          <a href="/blog">Blog</a>
          <ul id="drop-down"> 
            <% @sorted_posts.each do |post, date_array| %>
              <li><a href="/blog/<%= post %>"><%= post %></a></li>
            <% end %>
          </ul>
        </li> 
        <li id="contact" class="nav"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div id="background-img">
    <%= yield %> <!-- This is where my content will go -->
  </div>  
</body>
</html>