html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
ins {
    background-color: #FFFF99;
    color: #000000;
    text-decoration: none;
}
mark {
    background-color: #FFFF99;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}

/*Insert CSS below*/
body {
  width: auto;
}

#page1 {
  background-image: url("http://dustin.me/images/site-bg.jpg");
  background-repeat: repeat;
  width: auto;
  height: 850px;
}

.text {
  text-align: center;
  margin: 30px;
}

h1 {
  color: #99956;
  font-size: 50px;
  font-family: 'La Belle Aurore', cursive;
  margin-bottom: 10px;
}

p {
  color: #99956;
  font-size: 45px;
  font-family: 'Roboto Slab',serif;
  font-weight: 100;
  width: auto;
}

div#box_links div {
  width: 120px;
  border: 1px solid #333;
  display: inline-block;
  font-family: arial;
  margin: 20px;
}

div#box_links {
  text-align: center;
}



div#box_links a {
  text-align: center;
  margin: 0 auto;
  display: block;
  line-height: 60px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
}



div#box_links a:hover {
  color: white;
  background-color: #333;
}
/*------------------------*/

section#page2 {
  height: 850px;
  background-color: #1142FF;
  background-image: url("http://www.sendchristinatohackerschool.com/texture.png");
  transition: all 0.6s ease-in-out;
}

h2 {
  font-family: 'Londrina Shadow',cursive;
  font-weight: 300;
  font-size: 50px;
  color: rgb(230, 230, 230);
  padding-top: 45px;
}

div#the-process {
  text-align: center;
}

img#creative_process {
  width: 950px;
  height: auto;
  margin-top: 80px;
}


