/*Insert CSS Below*/

#social-links {
    position: absolute;
    top: 10px;
    right: 10px;
}

#facebook {
    margin-left: -10px;
}

body {
    margin: 0 auto;
}

header h1#logo {
    font-size: 100px;
    font-family: 'Cutive Mono', serif;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

nav {
    text-align: center;
    border-bottom: 2px solid #333;
}

ul {
    margin-bottom: 30px;
}

/* undoing the below will make the blog post show*/

ul#drop-down {
    display: none;
}

ul li#blog:hover ul#drop-down{
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    margin-left: -130px;
    list-style: none;
}

ul li.nav {
    display: inline;
    margin: 40px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 30px;
} 

li.nav a {
    text-decoration: none;
    color: black;
}

li.nav a:hover:before {
    content: "[:";
}

li.nav a:hover:after {
    content: "]"
}

li.nav a:hover {
    font-family: arial;
    text-transform: lowercase;
    font-size: 25px;

}

div#background-img {
    background-image: url(http://3.bp.blogspot.com/-4a_a41fX8pI/UTT2zb2AzfI/AAAAAAAAAnQ/F6tGjFoLij0/s1600/Teal+Chevron.jpg); 
    padding-top: 60px;
    padding-bottom: 60px;
}

/* home page */


div#coder {
    text-align: center;
}

img#background {
    border: 1px solid #333;
}

/* about page */

div#about-content {
    width: 650px;
    height: auto;
    background: #E6E6E6;
    margin: auto;
    height: auto;
    padding: 3px 20px 3px 20px;
    border: 2px solid white;
    text-align: justify;
}

div#about-content p {
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
}

/* blog page */

div.blog-post {
    width: 750px;
    height: 300px;
    background-color: #93FFE8;
    border: 1px dashed white;
    display: block;
    margin: 0 auto;
}

div.line {
    width: 840px;
    border: 1px solid #E6E6E6;
    margin: 60px auto;
}

section#blog {

}

/* contact page */

#contact input[type=text] {
    display: block;
    width: 200px;
    height: 20px;
    font-family: arial;
    font-size: 17px;
}

label {
    font-family: arial;
}

input {
    margin-bottom: 20px;
}

#contact textarea {
    
    width: 380px;
    height: 150px;
    font-family: arial;
    font-size: 17px;
    display: block;
}

div#contact {
    width: 400px;
    margin: 0 auto;
}

/*div#form-container {
    width: 400px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}*/




