date: 2013-11-17

<div class='style-posts'>

  <h2>Week 3</h2>

  <p>
    This week on Ada (I feel like I’m doing a television show introduction lol). Week 3 was actually pretty good. Not less challenging, but definitely less stressful and emotional. What’s changed? My mind set. I strived to worries less about what I didn’t know and more on taking it day by day and enjoying the process of learning.
  </p>

  <p>
    This week the format of class changed a little and we also did our first big pair-programming project. I most definitely appreciated the format change of class. We covered a topic in class, which was followed by a quiz. In the previous format of class, I felt like a lot of information was just being presented and I wasn’t really sure what to do with it all. The structure shift was extremely helpful for me because it gave me the opportunity to see what I absorbed as well figure out what were the important concepts I needed to focus on.
  </p>

  <p>
    We learned about CSV (Comma Separated Values) this week. For my non-programming readers a CSV act as a database. The project we did was called Farmer’s Market Finder and we wrote a program that pretty much queried data among four CSV files. I worked with Davida who is a beast. I was able to learn quite a bit from her and I enjoyed working with her. We got through the required task pretty fast. When I realized how quick we worked through it I started to question whether I understood it all so I decided to start over and try to complete the project on my own to ensure I was learning. Though it was a little bit harder and required more time, I’m glad I did. Test driven development was also introduced this week so it was nice to be able to finish the project and get all my specs to pass.
  </p>

  <p>
    Wednesday I decided to attend Code for Seattle, a civic hack meet-up that uses open-source data to work on projects that help the local community. In Florida, I was a member of Code for Miami and met some really great people. I thought Code for seattle would be a good opportunity to get acclimated to the Seattle tech scene as well as meet people that were community focused. Code for Seattle wasn’t as big as Code for Miami and I didn’t get to do any coding but the people were friendly and welcoming.
  </p>

  <p>
    At the end of week 3 something was put in perspective that really helped me to be a lot more comfortable in what I had learned and my progress up to this point. Bookis, one of our lead instructors, pulled up a comparable college Python course syllabus and pointed out that we had covered three quarters of a semester class in three weeks. That was a nice way to end the week.
  </p>

</div>

