date: 2013-11-10

<div class='style-posts'>

  <h1>Week 2</h1>

  <p>
    The second week was definitely challenging mentally and emotionally more than anything. It’s not that I didn’t think Ada was going to be hard or challenging. In fact, I was quite sure of it. What I didn’t anticipate was having such a struggle with learning and feeling like I was in over my head. I think the hardest part is accepting I don’t know a lot about what I’m doing and I probably won’t be comfortable with my level of understanding any time soon. That’s enough to be discouraged especially when you’ve experienced success before. That said lessons learned in week two were submit to the process of learning and personal development. Be patient with myself
  </p>

  <p>
    I have to remind myself that I’m learning so much whether it’s about programming or myself and at the end of the day that the goal, to learn. Most importantly I need to be aware not to compare my level or learning to anyone else’s in the classroom. In learning about programming, what I’ve realized is that I’m picking up concepts, but struggling to apply them at times. I can put together very basic and simple programs, but my attempt to combine concepts and write dynamic scripts result in syntax errors along with undefined methods and variables. I quickly get frustrated with that. However, it’s important to remind myself that two weeks ago I didn’t even know what methods or scripts were.
  </p>

  <p>
    This weekend I took some time to review some of the things I’ve learn up to this point. In addition to that, I told myself I would make a conscious effort to step away from the desire to be a master of programming overnight. I’m accepting and respecting where I’m at right now and going to enjoy the process and challenge of learning.
  </p>

  <p>
    This week we also went to a ruby event as a class. That was a pretty cool experience. It made me excited to get involved with the Seattle tech scene as well as made me miss my Code for Miami family. Which brings me to another point. I’m really looking forward to moving closer as it living so far away is definitely another challenge. This isn’t for the weak. 
  </p>
</div>