date: 2013-11-24

<div class='style-posts'>
  <p>
    What?! It’s week four!! I can’t be leave I’ve been at Ada for a month now. I’d like to take a moment to celebrate this huge milestone. I think I’ll commence the celebration by buying myself something pretty and shiny. It’s important to treat yo self. Up to this point there has been lots of learning along with down right confusion. Although I find myself in an uncomfortable place in the learning curve, I’m so glad I’m here.
  </p>

  <p>
    Week four was pretty content heavy. We explored Test Driven Development and got our first introduction to frameworks via Sinatra (and no not Frank). Random fact, apparently Frank Sinatra is chair of the board according to sinatrarb.com/about.html. The test driven development concept seemed pretty abstract to me. Pretty much the only thing that stuck was Red, Green, and Refractor. You right test that fails, then write code to make it pass, and refractor when possible. In learning about Rspecs, I did like the idea of writing code a simple as possible. I was also pretty interested in the Behavior Driven Development. As someone who always likes to keep the user and audience in mind, I think I will get really acquainted with this methodology.
  </p>

  <p>
    With most of the Rspecs stuff flying over my head, I got really nervous when we were told we would be attending a conference on Big Data. * Raises hand * What is Big Data? I was actually pretty surprised as to how engaged and interested I was in the presentations and topics. I found it interesting being about to take raw data and being about to convert it into information to aid in better decision-making. While I don’t intend to pursue a career in big data, through the conference I did develop an appreciation for it. I loved the exposure and was glad to learn about companies like Tableau, a company that produces interactive data visualization products. They definitely caught my attention because they focus on the people component of software a particular area I’m extremely interested.
  </p>

  <p>
    At the conference I was also afforded the opportunity to engage with others and flex some of people skills. In doing so many new things that seem so foreign for me in class, it was nice to actually do something that feels like second nature to me. This also helped me to develop my new strategy. Fake it until you make it in regards programming and rely on my strong interpersonal skills as a cushion until I’ve made it. I will continue to be patient with myself as I’m learning. Slow and steady wins the race.
  </p>

  <p>
    I also wanted to say a special thank you to Sam Livingston-Gray and Trevor Bramble for coming into class this week to teach us about Test Driven Development and Sinatra.
  </p>

</div>

