date: 2014-2-2

<div class='style-posts'>
  <h1>RESTful APIs</h1>

  <p>
    I’ve recently taken an interest in system design and architecture. This is largely due to the fact that as a new programmer, I find it insanely difficult to develop or create a web application when I don’t have a clear understanding of what I’m building and how each component works together. I’m a big picture kind of girl and I like to know the why and the how. The other day I was reading a blog post that discussed the stack of a particular tech company I’m fond of when I came across the term RESTful API. I had heard of the term RESTful as we have used the term in class, but I was thrown off when I saw it in the front of API so this blog post will serve the post of demystifying the seemingly scary buzz word.
  </p>

  <p>
    First, it’s important to explain what the term RESTful means. REST is an architectural principle of the web. Think of it as rules for how to transmit or organize information through the internet. It stands for Representational State Transfer. What makes the principle of REST so awesome is that it’s a way of organizing content on the web. The representational can be thought of as a placeholder for content, which in most case you can think of as a website. There are for different types of RESTful actions:
  </p>

  <ol>
    <li>A GET request: like when you type in a url all to retrieve a websites content.</li>
    <li>A POST request: like hitting the submit button to post a comment.</li>
    <li>A PUT/PATCH request: this could be changing your Twitter handle name</li>
    <li>A DELETE request: an example of this is when you delete a spammy commit off of your Facebook timeline.</li>
  </ol>

  <p>
    REST is wonderful and organized! API’s aren’t so bad either (with the exception of Tumblr's APIs). APIs can really mean a lot of things, but in the context of web APIs they are simply a way for computers to talk to one another and exchange data. For example, in a group project we used Twitter’s API to get public tweets to be used in our aggregated feeder web application.
  </p>

</div>