date: 2013-11-3

<div class='style-posts'>
  <h2>Week 1</h2>

  <p>
    I’m completely blown away by my first week at Ada. It's a tuition-free computer programming academy for women. No previous knowledge of programming is required. You just need to display a passion for tech along with the able to learn...and of course be accepted. The program is constructed of 6 months of classroom learning which is completely hands on, and 6 months of experience via internship at one of the partnering companies.
  </p>

  <p>
    There is something to be said about this learning environment I’ve just entered. Though the group is made up of all women, I’ve never worked in a more diverse environment. All fifteen of my classmates are brilliant and come from a variety of educational and professional backgrounds. In addition to being diverse, it’s a very collaborative, nurturing, and aware environment. Our lead instructors, one female and one male, were both self-taught developers and are extremely smart. All forms of alternative learning are promoted and students are often teaching one another. Somebody pinch me. 
  </p>

  <p>
    The first week was great, but definitely not exempted of challenges. A lot of information was thrown at us and at times I felt overwhelmed. There were often times where I was just plain confused, but I reminded myself of the wise words of Adda Birnir, confusion is my friend and that it is a part of the learning process. The key is to muster up the courage to work through the confusion and lack of understanding. As I began to start developing a working knowledge of objects, methods, arguments, and conditional statements, I realized though I didn’t understand everything I’d learned a lot. One of the biggest challenges I found was discerning what I was suppose to be getting and what was “magic” (concepts to be understood later). 
  </p>

</div>