date: 2014-1-26

<h1>APIs</h1>

<p>This week we learned about APIs and I'm still trying to wrap my head around them, but I definitely wanted to send a shout out to Tumblr and their lovely API documentation.</p>

<div class='style-posts'>
  <img id="api" src="images/api.jpg">
</div>