date: 2014-2-9

<H1>Speaking At Seattle.rb</H1>

<p>
  At this months Seattle.rb meetup Liz, a fellow Ada Student and I did a presentation on our experience at Ada so far. Liz approached me and asked if I wanted to assist her in conducting a survey and present the findings to the Ruby community. I believe she asked me because I engage well with others and tend not mind putting myself out there. Little did she know, I am somewhat terrified of public speaking. I agreed to join her because I know just how much this made me uncomfortable and that I needed to begin to overcome that some how.
</p>

<p>
  People that know my may be fooled into thinking that I’m a strong public speaker because I don’t mind introducing myself to strangers or reaching out to others to ask questions. I actually do pretty well when in quaint and intimate setting, but put me in front of a room full of people and I get all kinds of anxious and nervous. That said , I wanted to present with Liz because I want to gradually get myself use to that feeling of discomfort. For me, a success presentation was simple getting up in front of the group. I promised not to judge myself by whether I did good or bad but whether I pushed myself to do something I wasn’t comfortable with. By doing this it’s my hope that I will slowing start to get use to the discomfort and manage to become a good or maybe even great public speaker.
</p>

<p>
  I recently read an article in <a href="http://www.inc.com/sims-wyeth/4-ways-be-more-persuasive.html?cid=sf01001">Inc. Magazine</a> and it included 4 things highly persuasive speakers do. They included 1) answer the why, 2) find the passion, 3) talk conversationally, and 4) find a sense of truth. As I continue to train myself to become comfortable with speaking in front of a group, I think I may also challenge myself to focus on one of these concepts.
</p>
