date: 2013-12-1

<div class='style-posts'>
  <p>
    Finally something familiar! In week 5 we dove into html and css. I’m no front-end expert, but I do feel as though I have a workable foundation laid. I was glad to cover html and css principles because it is definitely an area I would like to get stronger in. This week I got plenty of time to do that because we worked on developing and designing the Sinatra blog application we built last week.
  </p>

  <p>
    I wont lie. Even though I have some knowledge of html and css, I still struggled this week. I think this is because we were assigned to create a personal website which is great, but I already have one. It’s something I actually happen to be very attached to. Why because it was the first site I ever created and as simple as it is for me it represents the journey that led me to coding in the first place. So now that I wasn’t going to create a person website what was I going to make. Good question. My website change three different times.
  </p>

  <p>
    I learned something very interesting about my workflow this week. I discovered that taking the time to develop a concept is very essential and important to me. As much as I am a free spirit I like for my work to be structured and methodical with room for flexibility. I enjoy the concept to creation process and tend to give anxious or uneasy when it is disrupted or unclear. I found that when I was in class I felt all over the place, however, when I had the opportunity to have a few hours during the break to focus it was a lot easier for me to put something together. I also learned I’m a slight perfectionist and still pretty unhappy with what I created but have accepted it as a work in progress.
  </p>

  <p>
    This week I really liked the idea of combining web applications with front-end things. I felt accomplished in knowing that my blog was sitting on the quaint framework of Sinatra and that ruby was making it go. It really made me look forward to continue with my understanding of ruby and learning rails. I even started forward-thinking and began to plot towards an application I’d like to create.
  </p>

</div>
