date: 2014-2-23

<h1>Playlistic</h1>

<p>
  So I developed this idea for a side project. I’ve made a few decisions about what it would do and what tools I would use…now what…
</p>

<p>
  Name it! My first thought was to use 8tracks. It would have a playlist containing 8 tracks and have a retro themed design. Brilliant! Except 8tracks is a music app that already exists lol. I missed the boat with that one. Unfortunately they have a very corporate looking app instead of the cool retro one I envisioned. Seems they too missed a primed opportunity.
</p> 

<p>
  Back to the drawing board. After dishing out several lame music app names, I finally came up with one that tickled my fancy.
</p>

<p>$ rails generate Playlistic</p>

<p>
  The lovely thing about a side project is no pressure. I create a splash page for my app, pushed it to heroku and I was done for the day.
</p>

<div class="playlistic">
  <img src="images/playlistic.jpg">
</div>