date: 2013-12-8

<div class='style-posts'>
  <p>
    Sometimes you just have to dive in. That’s exactly what we did with Rails this week. As complicated and convoluted as rails seems, I’m excited about learning it. That wasn’t the case at the beginning of the week. I felt really uncomfortable with the outlined project, but managed to get through it despite stress.
  </p>

  <p>
    While what I learned in class this week was cool, my experience outside of class was definitely blog post worthy. On Monday, I got an email from a young women that discovered my website via Skillcrush. She mentioned she read my blog post on my journey that led me to Ada and was inspired by it. She shared that she’d recently applied for a dev bootcamp herself and had an interview scheduled this week. This was critical and very timely for me because before reading the email I had just been given the instructions for a rails assignment that made me feel uncomfortable and more than overwhelmed. The email served as a reminder of why I started and really helped motivate me to push through this week.
  </p>

  <p>
    Being the tech evangelist I am, I was really glad to see another female interested in programming and web development. I really wanted to support her and share any insight I could provide. I’ve been through the interview process for dev bootcamps twice so I agreed to setup a call with her to give her my interview tips and guidance. After connecting with her I can definitely say that I made a new friend. She left me know she was accepted into the program at the end of the week. Somehow that experience really gave meaning and worth to the some of the struggle I experience with rails this week. It reminded me that what I was doing was bigger than me. 
  </p>

</div>





