date: 2014-2-16

<h1>Side Project</h1>

<p>
  In class we cover a lot of things and some times it’s difficult to determine whether I comprehend all of the things I should. For this reason, I created a side project that would reinforce some the concepts we are working on and gain practice with some of the stuff I’m not comfortable with…cough APIs. I wanted a few things out of my side project. I wanted to first have fun with it, second work with APIs without a gem, third get practice with architecture and making decisions about design, and last start simple, but create a project that could scale and increase in complexity as I learned or saw fit.
</p>

<p>
  In week one of my project I designed and outlined a working rough draft of what I wanted to build. Because I wanted a project that would motivate me and maintain my interest I decided to mix music and technology to create a playlist generator. Sticking true to my effort to keep it simple, I determined the first release would allows a user to enter an artist and generate a playlist of artists similar to the one they input. They would be able to stream and listen to the playlist. Keeping it simple, no scope creep is allowed in release one.
</p>

<p>
  After conceptualizing what the app would do, I then set out to choose what tools I would use. I explored This Is My Jam, Last.fm, TasteKid, and wished Twitter Music had available APIs then finally decided to go with a service called The Echo Nest. Echo Nest is devoted to aggregating, indexing, using, and sharing vast troves of music data. They apparently have 30 million songs in their database and offer some pretty dynamic queries, which is what sold me. I determined what API to start with and deciding that this was going to be a Rails app was a no brainer. The only thing left to do is find a player. Spotify of Rdio. I concluded week one by postponing that decision ☺
</p>
