date: 2013-12-15

<div class='style-posts'>

  <h2>Week 7</h2>

  <p>
    Since attending Ada, from time to time I get emails with questions about attending a developer bootcamp and what things to consider so I wanted to create a post sharing my insight on what to think about when considering participating in a developer bootcamp.
  </p>

  <p>
    First, high-five for considering a career in tech or as a developer. Though I’m still early in my development, it has proven to be fun, exciting, and creative. One expectation I would like to debunk, however, is that there are a lot of gaps to fill in on your own when deciding to participate in a developer bootcamp. In thinking about a developer bootcamp it must be mentioned that they aren't 4 year C.S. programs. They are condensed and move fast. You must quickly get comfortable with learning on the fly. I think the purpose of a developer bootcamp is to give you basic skills and teach you to be a continuous learner. The pros of developer bootcamps are that it’s project-based learning. You learn to work with others and simulate agile developer teams.
  </p>

  <p>
    Before making the decision to commit to a developer bootcamp, there are a few questions you should ask yourself. The most important is why. Why do you want to participate in a developer bootcamp? Because when it gets hard, and it will, the answer to that will help you get through. Also are you willing to make the time and financial commitment? Most developer bootcamps are full-time so it would be wise to plan financially.
  </p>

  <p>
    Once you’ve made the decision to go ahead and take that leap into an awesome developer bootcamp. Preparation is definitely key! Try to lay a foundation before you even start the program (read, do tutorials, find out what languages and tools you'll be working with and get some practice in). Develop a game plan. Determine what you want out of the experience and how it will help you achieve other goals. Save money! Once again it’s a full-time commitment.
  </p>

  <p>
    Other advice I’d like to share:
  </p>

  <ul>
    <li>Build a community and support system. Surround yourself with inspiration and motivation.</li>
    <li>Submit to the learning process and get comfortable with being confused.</li>
    <li>Resist the temptation of being a master overnight and knowing all the things. It's just not possible.</li>
    <li>Have fun learning!</li>
  </ul>

  <p>
    I hope this is helpful!
  </p>

</div>


