date: 2014-3-11

<h1>Another Solution to FizzBuzz in Ruby with a while loop</h1>

<p>
  I drempt this code. No lie. I had a dream about the FizzBuzz problem and how I should solve it with a while loop so for kicks I said why not.
</p>

<pre style='color:#000000;background:#ffffff;'><html><body style='color:#000000; background:#ffffff; '><pre>
n <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span>
<span style='color:#800000; font-weight:bold; '>while</span> n &lt; <span style='color:#008c00; '>100</span>
  n<span style='color:#808030; '>+</span><span style='color:#808030; '>=</span><span style='color:#008c00; '>1</span>
<span style='color:#800000; font-weight:bold; '>&#xa0;&#xa0;if</span> n % <span style='color:#008c00; '>15</span> <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span>
    <span style='color:#400000; '>puts</span> <span style='color:#0000e6; '>"FizzBuzz"</span>
  <span style='color:#800000; font-weight:bold; '>elsif</span> n % <span style='color:#008c00; '>3</span> <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span>
    <span style='color:#400000; '>puts</span> <span style='color:#0000e6; '>"Fizz"</span>
  <span style='color:#800000; font-weight:bold; '>elsif</span> n % <span style='color:#008c00; '>5</span> <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span>
    <span style='color:#400000; '>puts</span> <span style='color:#0000e6; '>"Buzz"</span>
  <span style='color:#800000; font-weight:bold; '>else</span>
    <span style='color:#400000; '>puts</span> n
  <span style='color:#800000; font-weight:bold; '>end</span>    
<span style='color:#800000; font-weight:bold; '>end</span>
</pre>